{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Main</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'assets/main.css' %}">
    {% block head %}

    {% endblock %}

</head>

<body>

    <nav class="navbar">
        <div class="nav-wrapper">
            <img src="{%static 'img/logo.png' %}" class="brand-img" style="height: 43px;">
            <div class="search-bar">
                <form action="/search" method="post">
                    {% csrf_token %}
                    <input type="text" name="username" class="search-box" placeholder="Search">
                    <button type="submit" style="border: none; background-color: transparent; margin-left: -35px; margin-top: -5px;"><img src="{%static 'img/Searchicon.png' %}" style="height: 25px; cursor: pointer;"></button>
                </form>
            </div>
            <div class="nav-items">
                <form action="upload" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="button" value="Upload" class="upload-btn" onclick="toggleP()">
                    <div id="info" class="upload" style="display: none;">
                        <input type="file" name="image" class="input-image">
                        <textarea name="caption" cols="30" rows="10" placeholder="Caption..."
                            class="caption"></textarea>
                        <button type="submit">Upload</button>
                    </div>
                </form>
                {% block profile %}
                <div class="icon user-profile"><img src="{{user_profile.profileimg.url}}" style="width: 22px;
                    border-radius: 50%;
                    background-size: cover;" onclick="toggleD()">
                    {% endblock %}
                    <div class="user-btn" id="user" style="display: none; background-color: grey; border-radius: 20px; width: 400%; padding: 15px; margin: 0 0 0 -25px;">
                        &nbsp; &nbsp; <a href="/"
                            style="text-decoration: none; color: black; font-weight:bold ;">Home</a> &nbsp;
                        &nbsp; &nbsp; <a href="/settings"
                            style="text-decoration: none; color: black; font-weight:bold ;">Account Settings</a> &nbsp;
                        &nbsp; &nbsp; <a href="logout"
                            style="text-decoration: none; color: black; font-weight:bold ;">Logout</a> &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <!-- <div class="status-wrapper">
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                </div> -->
                {% for post in posts %}
                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="{{post.get_user_profile_pic_url}}" alt=""></div>
                            <p class="username"><a href="/profile/{{post.user}}"
                                    style="text-decoration: none; color: black;">{{post.user}}</p></a>
                        </div>

                    </div>
                    <img src="{{post.image.url}}" class="post-image">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <a href="/like-post?post_id={{post.id}}"><img src="{% static 'img/like.png' %}" class="icon"
                                    alt=""></a>
                            <!-- <img src="img/pngegg.png" class="icon" alt="">
                            <img src="img/pngegg.png" class="icon" alt="">
                            <img src="img/pngegg.png" class="save icon" alt=""> -->
                        </div>
                        {% if post.no_of_likes == 0 %}
                        <p><b>No Likes</b></p>
                        {% elif post.no_of_likes == 1 %}
                        <p class="likes">{{post.no_of_likes}} Like</p>
                        {% else %}
                        <p class="likes">{{post.no_of_likes}} Likes</p>
                        {% endif %}
                        <p class="description"><span>{{post.user}} </span> {{post.caption}}</p>
                        <p class="post-time">Posted {{ post.created_at|timesince }} ago</p>
                    </div>
                    <!-- <div class="comment-wrapper">
                        <img src="{% static 'img/pngegg.png' %}" class="icon">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">Post</button>
                    </div> -->
                </div>
                {% endfor %}


            </div>
            <div class="right-col">
                <!-- <div class="profile-card">
                    <div class="profile-pic">
                        <img src="img/20200422_150704.jpg" alt="">
                    </div>
                    <div>
                        <p class="username">Akash_9614</p>
                        <p class="sub-text">Akash Dutta</p>

                    </div>
                    <button class="action-btn">Switch</button>
                </div> -->
                <p class="suggestion-text">Suggestions for you</p>
                {% for suggestion in suggestions_username_profile_list %}
                <div class="profile-card">
                    <div class="profile-pic">
                        <img src="{{suggestion.profileimg.url}}" alt="">
                    </div>
                    <div>
                        <p class="username"><a href="/profile/{{suggestion.user}}"
                                style="text-decoration: none; color: black;">@{{suggestion.user}}</a></p>
                        <p class="sub-text">{{suggestion.bio}}</p>
                        <p class="sub-text">{{suggestion.location}}</p>

                    </div>
                    <a href="/profile/{{suggestion.user}}" class="action-btn"
                        style="text-decoration: none; margin: 10px;">View User</a>
                </div>
                {% endfor %}

                <!-- <div class="profile-card">
                    <div class="profile-pic">
                        <img src="img/20200422_150704.jpg" alt="">
                    </div>
                    <div>
                        <p class="username">Akash_9614</p>
                        <p class="sub-text">Akash Dutta</p>

                    </div>
                    <button class="action-btn">Switch</button>
                </div>

                <div class="profile-card">
                    <div class="profile-pic">
                        <img src="img/20200422_150704.jpg" alt="">
                    </div>
                    <div>
                        <p class="username">Akash_9614</p>
                        <p class="sub-text">Akash Dutta</p>

                    </div>
                    <button class="action-btn">Switch</button>
                </div>

                <div class="profile-card">
                    <div class="profile-pic">
                        <img src="img/20200422_150704.jpg" alt="">
                    </div>
                    <div>
                        <p class="username">Akash_9614</p>
                        <p class="sub-text">Akash Dutta</p>

                    </div>
                    <button class="action-btn">Switch</button>
                </div> -->

            </div>
        </div>
    </section>
    {% endblock %}

    <script>
        function toggleP() {
            let div = document.getElementById("info");
            if (div.style.display === "none") {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        }

        function toggleD() {
            let div = document.getElementById("user");
            if (div.style.display === "none") {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        }
    </script>




</body>

</html>