{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'assets/main.css' %}">


</head>
<style>
    .upload {
        position: absolute;
        right: 180px;
        display: block;
        border: 1px solid black;

        /* height: 100%; */
        width: 100%;
        margin-top: 10px;
    }

    .nav-items {
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
    }
</style>

<body>
    <nav class="navbar">
        <div class="nav-wrapper">
            <img src="{%static 'img/pngegg.png' %}" class="brand-img" alt="">
            <form action="/search" method="post">
                {% csrf_token %}
                <input type="text" name="username" class="search-box" placeholder="Search"> &nbsp; &nbsp; &nbsp; &nbsp;
                <button type="submit" style="margin-left: 400px; padding: 3px 3px;">Search</button>
            </form>
            <div class="nav-items">
                <form action="upload" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="button" value="Upload pics/videos" onclick="toggleP()">
                    <div id="info" class="upload" style="display: none;">
                        <input type="file" name="image">
                        <textarea name="caption" cols="30" rows="10" placeholder="caption..."></textarea>
                        <button type="submit">upload</button>
                    </div>
                </form>
                &nbsp; &nbsp; <a href="logout">logout</a> &nbsp; 
                <div class="icon user-profile"><img src="{{user_profile.profileimg.url}}" style="width: 22px;
                    border-radius: 50%;
                    background-size: cover;"></div>
            </div>
        </div>
    </nav>

    <section class="main">
        <div class="wrapper">
            <div class="left-col">
                <!-- <div class="status-wrapper">
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                    <div class="status-card">
                        <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}"></div>
                        <p class="username">user_name_1</p>
                    </div>
                </div> -->
                {% for post in posts %}
                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic"><img src="{% static 'img/20200422_150704.jpg' %}" alt=""></div>
                            <p class="username"><a href="/profile/{{post.user}}"
                                    style="text-decoration: none; color: black;">{{post.user}}</p></a>
                        </div>
                        <div class="options">|||</div>
                    </div>
                    <img src="{{post.image.url}}" class="post-image">
                    <div class="post-content">
                        <div class="reaction-wrapper">
                            <a href="/like-post?post_id={{post.id}}"><img src="{% static 'img/pngegg.png' %}"
                                    class="icon" alt=""></a>
                            <!-- <img src="img/pngegg.png" class="icon" alt="">
                            <img src="img/pngegg.png" class="icon" alt="">
                            <img src="img/pngegg.png" class="save icon" alt=""> -->
                        </div>
                        {% if post.no_of_likes == 0 %}
                        <p><b>No Likes</b></p>
                        {% elif post.no_of_likes == 1 %}
                        <p class="likes">{{post.no_of_likes}} Like</p>
                        {% else %}
                        <p class="likes">{{post.no_of_likes}} Likes</p>
                        {% endif %}
                        <p class="description"><span>{{post.user}} </span> {{post.caption}}</p>
                        <p class="post-time">Posted {{ post.created_at|timesince }} ago</p>
                    </div>
                    <div class="comment-wrapper">
                        <img src="{% static 'img/pngegg.png' %}" class="icon">
                        <input type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">Post</button>
                    </div>
                </div>
                {% endfor %}


            </div>
            <div class="right-col">
                <!-- <div class="profile-card">
                    <div class="profile-pic">
                        <img src="img/20200422_150704.jpg" alt="">
                    </div>
                    <div>
                        <p class="username">Akash_9614</p>
                        <p class="sub-text">Akash Dutta</p>

                    </div>
                    <button class="action-btn">Switch</button>
                </div> -->
                <p class="suggestion-text">Suggestions for you</p>
                {% for suggestion in suggestions_username_profile_list %}
                <div class="profile-card">
                    <div class="profile-pic">
                        <img src="{{suggestion.profileimg.url}}" alt="">
                    </div>
                    <div>
                        <p class="username"><a href="/profile/{{suggestion.user}}"  style="text-decoration: none; color: black;">@{{suggestion.user}}</a></p>
                        <p class="sub-text">{{suggestion.bio}}</p>
                        <p class="sub-text">{{suggestion.location}}</p>

                    </div>
                    <a href="/profile/{{suggestion.user}}" class="action-btn" style="text-decoration: none; margin: 10px;">View User</a>
                </div>
                {% endfor %}

                <!-- <div class="profile-card">
                    <div class="profile-pic">
                        <img src="img/20200422_150704.jpg" alt="">
                    </div>
                    <div>
                        <p class="username">Akash_9614</p>
                        <p class="sub-text">Akash Dutta</p>

                    </div>
                    <button class="action-btn">Switch</button>
                </div>

                <div class="profile-card">
                    <div class="profile-pic">
                        <img src="img/20200422_150704.jpg" alt="">
                    </div>
                    <div>
                        <p class="username">Akash_9614</p>
                        <p class="sub-text">Akash Dutta</p>

                    </div>
                    <button class="action-btn">Switch</button>
                </div>

                <div class="profile-card">
                    <div class="profile-pic">
                        <img src="img/20200422_150704.jpg" alt="">
                    </div>
                    <div>
                        <p class="username">Akash_9614</p>
                        <p class="sub-text">Akash Dutta</p>

                    </div>
                    <button class="action-btn">Switch</button>
                </div> -->

            </div>
        </div>
    </section>

    <script>
        function toggleP() {
            let div = document.getElementById("info");
            if (div.style.display === "none") {
                div.style.display = "block";
            } else {
                div.style.display = "none";
            }
        }
    </script>




</body>

</html>