{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - {{user_profile.user.username}}</title>
    <link rel="stylesheet" href="{% static 'assets/profile.css' %}">
    <link rel="stylesheet" href="{% static 'assets/main.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="nav-wrapper">
            <img src="{%static 'img/logo.png' %}" class="brand-img" style="height: 43px;">
            <div class="search-bar">
                <form action="/search" method="post">
                    {% csrf_token %}
                    <input type="text" name="username" class="search-box" placeholder="Search">
                    <button type="submit"
                        style="border: none; background-color: transparent; margin-left: -35px; margin-top: -5px;"><img
                            src="{%static 'img/Searchicon.png' %}" style="height: 25px; cursor: pointer;"></button>
                </form>
            </div>
            <div class="nav-items">
                <form action="upload" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="button" value="Upload" class="upload-btn" onclick="toggleP()">
                    <div id="info" class="upload" style="display: none;">
                        <input type="file" name="image" class="input-image">
                        <textarea name="caption" cols="30" rows="10" placeholder="Caption..."
                            class="caption"></textarea>
                        <button type="submit">Upload</button>
                    </div>
                </form>
                <div class="icon user-profile"><img src="{{logged_user_profile.profileimg.url}}" style="width: 22px;
                    border-radius: 50%;
                    background-size: cover;" onclick="toggleD()">
                    <div class="user-btn" id="user"
                        style="display: none; background-color: grey; border-radius: 20px; width: 400%; padding: 15px; margin: 0 0 0 -25px;">
                        &nbsp; &nbsp; <a href="/"
                            style="text-decoration: none; color: black; font-weight:bold ;">Home</a> &nbsp;
                        &nbsp; &nbsp; <a href="/settings"
                            style="text-decoration: none; color: black; font-weight:bold ;">Account Settings</a> &nbsp;
                        &nbsp; &nbsp; <a href="logout"
                            style="text-decoration: none; color: black; font-weight:bold ;">Logout</a> &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="header_wrapper">
        <header></header>
        <div class="cols_container">
            <div class="left_col">
                <div class="img_container">
                    <img src="{{user_profile.profileimg.url}}" alt="">
                    <span></span>
                </div>
                <h2>{{user_profile.user.username}}</h2>

                <form action="/follow" method="POST">
                    {% csrf_token %}
                    <ul class="about">

                        <li style="margin: 0 0 0 10px;"><span>{{user_followers}}</span>Followers</li>
                        <li style="margin: 0 10px;"><span>{{user_following}}</span>Following</li>
                        <input type="hidden" value="{{user.username}}" name="follower">
                        <input type="hidden" value="{{user_object.username}}" name="user">

                        <li><span>
                                {% if user_post_length == 0 %}
                                <p><b style="color: #000;">0</b></p>
                                {% elif user_post_length == 1 %}
                                <p><b style="color: #000;">{{user_post_length}}</b></p>
                                {% else %}
                                <p><b style="color: #000;">{{user_post_length}}</b></p>
                                {% endif %}
                            </span>Posts</li>

                    </ul>

                    <div class="content">
                        <p>{{user_profile.bio}}</p>
                    </div>
            </div>
            <div class="right_col">
                <nav>
                    <ul>
                        <li><a href="#">Photos</a></li>
                        <!-- <li><a href="#">Galaries</a></li>
                        <li><a href="#">Groups</a></li>
                        <li><a href="#">About</a></li> -->
                    </ul>
                    {% if user_object.username == user.username %}
                    <a href="/settings" data-ripple=""
                        style="border: 1px solid black; border-radius: 10px; padding: 10px 20px; background-color: violet; color: black; font-size: 1rem; ">Account
                        Settings</a>
                    {% else %}
                    <button type="submit" data-ripple=""
                        style="border: 1px solid black; border-radius: 10px; padding: 10px 20px; background-color: violet; color: black; font-size: 1rem; ">{{button_text}}</button>
                    {% endif %}

                </nav>
                </form>
                <div class="photos">
                    <!-- <img src="img/DSC_7691.JPG" alt="">
                    <img src="img/DSC_7691.JPG" alt="">
                    <img src="img/DSC_7691.JPG" alt="">
                    <img src="img/DSC_7691.JPG" alt="">
                    <img src="img/DSC_7691.JPG" alt="">
                    <img src="img/DSC_7691.JPG" alt=""> -->
                    {% for post in user_posts %}
                    <img src="{{post.image.url}}" alt="">
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function toggleP() {
        let div = document.getElementById("info");
        if (div.style.display === "none") {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
    }

    function toggleD() {
        let div = document.getElementById("user");
        if (div.style.display === "none") {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
    }
</script>

</html>