{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/settings.css' %}">
</head>

<body>
    <nav>
        <div class="nav">
        <div class="brand">Logo</div>
        
    </div>
    </nav>

    <div class="container">
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <h3> <a href="/">Home</a> / Account settings for <b>{{user.username}}</b></h3>
        <br>
        <hr>
        <div class="form">
            <label>Photo</label>
            <img width="100" height="100" src="{{user_profile.profileimg.url}}" alt="">
            <input type="file" name="image" value="">
            <label for="name">Enter your First Name</label>
            <input type="text" id="name" name="fname" placeholder="Name">
            <label for="surname">Enter Your Last Name</label>
            <input type="text" id="surname" name="lname" placeholder="surname">
            <label for="email">Enter Email/Phone</label>
            <input type="text" id="email" name="contact" value="{{user_profile.contact}}">
            <label for="bio">Enter Bio</label>
            <!-- <input type="text" id="bio" placeholder="bio"> -->
            <textarea name="bio" id="bio" cols="30" rows="10">{{user_profile.bio}}</textarea>
            <label for="location">Enter Location</label>
            <input type="text" id="location" name="location" value="{{user_profile.location}}">
            <select>
                <option value="0">Relationship Status</option>
                <option>Single</option>
                <option>Committed</option>
                <option>Married</option>
            </select>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
</body>

</html>